<h1>Make Your Pirate Here:</h1>
<form method = "post" action = "/pirates">
  <h2>Pirate</h2>  
  <label for = "pirate_name">Name: </label>
  <input type = "text" name = "pirate[name]" id = "pirate_name">
  <label for = "pirate_weight">Weight (lbs): </label>
  <input type = "text" name = "pirate[weight]" id = "pirate_weight">
  <label for = "pirate_height">Weight (in): </label>
  <input type = "text" name = "pirate[height]" id = "pirate_height"><br>

  <h2>Ships</h2>  
  <label for = "ship_name_1">Ship Name: </label>
  <input type = "text" name = "pirate[ships][][name]" id = "ship_name_1">
  <label for = "ship_type_1">Ship Type: </label>
  <input type = "text" name = "pirate[ships][][type]" id = "ship_type_1">
  <label for = "ship_booty_1">Ship Booty: </label>
  <input type = "text" name = "pirate[ships][][booty]" id = "ship_booty_1"><br>
  
  <label for = "ship_name_2">Ship Name: </label>
  <input type = "text" name = "pirate[ships][][name]" id = "ship_name_2">
  <label for = "ship_type_2">Ship Type: </label>
  <input type = "text" name = "pirate[ships][][type]" id = "ship_type_2">
  <label for = "ship_booty_2">Ship Booty: </label>
  <input type = "text" name = "pirate[ships][][booty]" id = "ship_booty_2"><br>
  
  <input type = "submit" value = "Submit">
</form>